<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Stratis.guru | @ViewBag.Title</title>
	<link rel="icon" href="~/favicon.ico" />
	<link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="~/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="~/css/owl.carousel.min.css" rel="stylesheet" type="text/css">
	<link href="~/css/owl.theme.default.min.css" rel="stylesheet" type="text/css">
	<environment include="Development">
		<link href="~/css/default.css" rel="stylesheet" type="text/css">
	</environment>
</head>
<body>
<header class="header-area">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<nav class="main-nav">
					<a asp-controller="Home" asp-action="Index" class="logo ">
						<img src="~/images/logo.png" class="light-logo" alt="Stratis.guru"/> <span class="text-white">Stratis</span><span class="text-muted">.guru</span> <span class="text-info text-hide">v2</span>
						<img src="~/images/logos/white-logo-dark.svg" class="dark-logo" alt="Arda ICO"/>
					</a>
					<ul class="nav">
						<li><a asp-action="Index" asp-controller="Home"><i class="fa fa-home"></i> HOME</a></li>
						<li><a asp-action="Explorer" asp-controller="Home"><i class="fa fa-at"></i> VANITY</a></li>
						<li><a asp-action="Generator" asp-controller="Home"><i class="fa fa-qrcode"></i> ADDRESS GENERATOR</a></li>
						<li><a asp-action="About" asp-controller="Home"><i class="fa fa-info-circle"></i> ABOUT</a></li>
						<li><a asp-action="Contact" asp-controller="Home"><i class="fa fa-envelope"></i> CONTACT</a></li>
					</ul>
					<a class='menu-trigger'>
						<span>Menu</span>
					</a>
				</nav>
			</div>
		</div>
	</div>
</header>
@RenderBody()
<div id="crafted" class="pb-4">
	<p class="text-center small">Proudly Crafted with 💖 by <a href="https://twitter.com/clint_network" target="_blank">Clint.Network</a> — Help me to maintain by sending $STRAT at SR2ZXnhRnMqJNoeDiCFUnaug7TKHJocwDd.</p>
</div>
<script src="~/js/jquery-2.1.0.min.js"></script>
<script src="~/js/popper.js"></script>
<script src="~/js/bootstrap.min.js"></script>
<script src="~/js/particles.min.js"></script>
<script src="~/js/scrollreveal.min.js"></script>
<script src="~/js/jquery.downCount.js"></script>
<script src="~/js/parallax.min.js"></script>
<script src="~/js/owl.carousel.min.js"></script>
<script src="~/js/particle-green.js"></script>
<script src="~/js/custom.js"></script>
@RenderSection("Scripts", false)
</body>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-111742056-1"></script>
<script>
	window.dataLayer = window.dataLayer || [];
	function gtag() { dataLayer.push(arguments); }
	gtag('js', new Date());

	gtag('config', 'UA-111742056-1');
</script>
<!--stratisguru-->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5a48282c1ee2c396"></script>
</html>