Stratis.Guru/wwwroot/css/bootstrap.min.css linguist-vendored
Stratis.Guru/wwwroot/css/default.css linguist-vendored
Stratis.Guru/wwwroot/css/default.min.css linguist-vendored
Stratis.Guru/wwwroot/css/font-awesome.min.css linguist-vendored
Stratis.Guru/wwwroot/css/landing.css linguist-vendored
Stratis.Guru/wwwroot/css/owl.carousel.min.css linguist-vendored
Stratis.Guru/wwwroot/css/owl.theme.default.min.css linguist-vendored
