wwwroot/css/bootstrap.min.css linguist-vendored
wwwroot/css/default.css linguist-vendored
wwwroot/css/font-awesome.min.css linguist-vendored
wwwroot/css/landing.css linguist-vendored
wwwroot/css/owl.carousel.min.css linguist-vendored
wwwroot/css/owl.theme.default.min.css linguist-vendored
