@{
    ViewBag.Title = "About Stratis.guru";
    Layout = "_Layout";
}
<section class="welcome-area pb-4" id="welcome-1">
    <div class="header-token">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 align-self-center text-center">
                    <h1>About <strong>Stratis.Guru</strong> v2.0.</h1>
                    <p>Stratis.guru reborn from the first version developed in ASP.Net MVC, the new version is made with Microsoft<sup>&reg;</sup> .Net Core and use the NStratis Library.</p>
                    <p class="small text-warning">Disclaimer: Please DO NOT use the generated addresses except for test or training purposes,<br />if the server is backdoored or anything other you will loose your funds.</p>
                    <a href="https://github.com/clintnetwork/stratis-guru-v2" target="_blank" class="btn-secondary-box"><i class="fa fa-github"></i> Browse Source on Github</a>
                </div>
            </div>
        </div>
    </div>
</section>