@{
    ViewBag.Title = "Stratis Address Generator";
    Layout = "_Layout";
}
<section class="welcome-area" id="welcome-1">
    <div class="header-token">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 align-self-center text-center">
                    <h1>ARDA Decentralized Blockchain Platform</h1>
                    <p>Arda makes it easy creation and deployment of decentralized applications, that can be downloaded by end-users from the application store.</p>
                    <a href="#" class="btn-secondary-box">Download Whitepaper</a>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 align-self-center text-center">
                    <h1>ARDA Decentralized Blockchain Platform</h1>
                    <p>Arda makes it easy creation and deployment of decentralized applications, that can be downloaded by end-users from the application store.</p>
                    <a href="#" class="btn-secondary-box">Download Whitepaper</a>
                </div>
            </div>
        </div>
    </div>
</section>