@model Ticker
@{
    ViewBag.Title = "Online ticker for Stratis";
    ViewData["Title"] = "Home Page";
}
<section class="welcome-area" id="welcome-1">
    <div class="header-token">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 align-self-center text-center">
                    <h1 class="m-0">The <strong>$STRAT</strong> price in realtime.</h1>
                    <h1 class="align-middle">
                        <div class="d-inline-block align-middle">
                            <span class="click-edit">1 STRAT</span> =
                        </div>
                        <span class="align-middle display-1 font-weight-bold" id="amount">@(Model.UsdPrice.ToString("C2"))</span>
                        <span id="lastchange" class="text-@(Model.Last24Change > 0 ? "success":"danger") font-weight-bold"><sup> @((Model.Last24Change > 0 ? "+":"-")) @(Model.Last24Change.ToString("P2"))</sup></span>
                    </h1>
                    <a asp-controller="Home" asp-action="Generator" class="btn-secondary-box"><i class="fa fa-paper-plane"></i> Get a Stratis Address</a>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts
{
    <script src="~/npm/@@aspnet/signalr/dist/browser/signalr.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            var stratisPrice = @Model.UsdPrice;
            var signalr = new signalR.HubConnectionBuilder().withUrl("/update").build();
            signalr.on("UpdateTicker", function (message) {
                $.getJSON("/api/price?stringify=true", function(e) {
                    $("#amount").text(e.usdPrice);
                    $("#lastchange").text(e.last24Change);
                });
            });
            signalr.start();
            
            $(".click-edit").click(function() {
                alert("ok");
            })
        })
    </script>
}