@{
    ViewBag.Title = "Online ticker for Stratis";
    ViewData["Title"] = "Home Page";
}
<section class="welcome-area" id="welcome-1">
    <div class="header-token">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 align-self-center text-center">
                    <h1>The <strong>$STRAT</strong> price in realtime.</h1>
                    <p>Arda makes it easy creation and deployment of decentralized applications, that can be downloaded by end-users from the application store.</p>
                    <a href="#" class="btn-secondary-box">Download Whitepaper</a>
                </div>
            </div>
        </div>
    </div>
</section>