@{
    ViewBag.Title = "About Stratis.guru";
    ViewBag.Description = "Stratis.guru reborn from the first version developed in ASP.Net MVC, the new version is made with Microsoft(R) .Net Core and use the NStratis Library.";
    Layout = "_Layout";
}
<div class="shadow-inset"></div>
<section class="welcome-area pb-4" id="welcome-1">
    <div class="header-token">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 align-self-center text-center">
                    <h1>About <strong>Stratis.Guru</strong> v2.0.</h1>
                    <p>Stratis.Guru reborn from his <a target="_blank" href="https://github.com/clintnetwork/Stratis.guru">Version 1</a> with some new features, completely rebuild in .Net Core, and supported by the Stratis community. You will find a $STRAT Price Ticker, an address generator, a block explorer, a community lottery and an API.</p>
                    <p class="small text-warning">Disclaimer: Please DO NOT use the generated addresses except for test or training purposes,<br />if the server is backdoored or anything other you will loose your funds.</p>
                    <p class="small extra">If you need to contact me or report a bug please PM me on twitter or send a mail at <a href="mailto:stratis-guru@volto.io">stratis-guru@volto.io</a>.</p>
                    <a href="https://github.com/clintnetwork/stratis-guru-v2" target="_blank" class="btn-white-line"><i class="fa fa-github"></i> Browse Source on Github</a>
                    &nbsp;
                    <a href="https://twitter.com/clint_network" target="_blank" class="btn-white-line"><i class="fa fa-twitter"></i> Follow me on Twitter</a>
                </div>
            </div>
        </div>
    </div>
</section>