@model Vanity
@{
    ViewBag.Title = "Vanity Address Generator";
    ViewBag.Description = "Generate a vanity address with a prefix that you define, by example STRATnhRnMqJNoeDiCFUnaug7TKHJocwDd.";
    Layout = "_Layout";
}
<div class="shadow-inset"></div>
<section class="welcome-area pb-4" id="welcome-1">
    <form class="header-token" method="post" asp-controller="Home" asp-action="Vanity">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 align-self-center text-center">
                    <h1><strong>Vanity </strong>Address Generator</h1>
                    <p>Generate a vanity address with a prefix that you define, by example <span class="text-warning">STRAT</span>nhRnMqJNoeDiCFUnaug7TKHJocwDd</p>
                    <div class="row">
                        <div class="col-lg-8 col-md-12 offset-lg-2">
                            <div class="form-group mt-4">
                                <!-- <label class="text-left extra small text-white">The actual process is unthreaded and will be update in some days.</label> -->
                                <span asp-validation-for="Prefix" class="text-danger mb-4 small"></span>
                                <div class="input-group mb-3 input-group-lg pl-lg-5 pr-lg-5">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text bg-info text-white">Prefix</span>
                                    </div>
                                    <div class="input-group-prepend">
                                        <span class="input-group-text bg-dark text-white">S</span>
                                    </div>
                                    <input type="text" class="form-control bg-dark" asp-for="Prefix" placeholder="Enter the first letters, without the begning 'S'" maxlength="4">
                                </div>
                                <p class="mt-5 extra small">Info: You need to stay this page opened during the vanity process.</p>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn-secondary-box mt-4"><i class="fa fa-play-circle"></i> Begin Vanity Process</button>
                </div>
            </div>
        </div>
    </form>
</section>