@model Vanity
@{
    ViewBag.Title = "Vanity Address Generator";
    ViewBag.Description = "Generate a vanity address with a prefix that you define, by example STRATnhRnMqJNoeDiCFUnaug7TKHJocwDd.";
    Layout = "_Layout";
}
<section class="welcome-area pb-4" id="welcome-1">
    <form class="header-token" method="post" asp-controller="Home" asp-action="Vanity">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 align-self-center text-center">
                    <h1><strong>Vanity </strong>Address Generator</h1>
                    <p>Generate a vanity address with a prefix that you define, by example <span class="text-warning">STRAT</span>nhRnMqJNoeDiCFUnaug7TKHJocwDd</p>
                    @if (ViewBag.Succeed == null)
                    {
                        <div class="row">
                            <div class="col-lg-8 col-md-12 offset-lg-2">
                                <div class="form-group mt-4">
                                    <label class="text-left extra small text-white">The actual process is unthreaded and will be update in some days.</label>
                                    <div class="input-group mb-3 input-group-lg pl-lg-5 pr-lg-5">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text bg-info text-white">Prefix</span>
                                        </div>
                                        <div class="input-group-prepend">
                                            <span class="input-group-text bg-dark text-white">S</span>
                                        </div>
                                        <input type="text" class="form-control bg-dark" asp-for="Prefix" placeholder="Enter the first letters, without the begning 'S'" maxlength="4">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-lg-4">
                            <div class="col-lg-8 col-md-12 offset-lg-2">
                                <div class="input-group mb-3 input-group-lg pl-lg-5 pr-lg-5">
                                    <label class="text-left extra small text-white">You will receive the private key by email.</label>
                                    <div class="input-group input-group-lg">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text bg-info text-white">Recipient</span>
                                        </div>
                                        <input type="text" class="form-control bg-dark" asp-for="Email" placeholder="Enter your email address to receive the key"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="submit" href="https://github.com/clintnetwork/stratis-guru-v2" target="_blank" class="btn-secondary-box mt-4"><i class="fa fa-play-circle"></i> Start Vanity Process</button>
                    }
                    else
                    {
                        <i class="fa fa-check text-success fa-5x"></i>
                        <h1>Process Started</h1>
                        <p class="m-2">The process has been taken in hand by our vanity service !</p>
                        <p class="small text-muted extra">You can leave, you will informed by email, please don't refresh the page.</p>
                    }
                </div>
            </div>
        </div>
    </form>
</section>